@import "../../styles/common.scss";

.container-booking {
    width: calc(80% + 24px);
    margin: 50px 30% 9% 10%;

    .title-content {
        text-align: center;
        margin-bottom: 20px;
        color: $colormain;
    }

    .booking-content {
        margin-left: 20%;

        .form-content {
            border-radius: 7px;
            margin-top: 15px;
            margin-left: 30%;
            text-align: left;

            label {
                font-size: 20px;
            }

            .form-control {
                font-size: $base-size;
                width: 50%;
            }

            .new-confirm-password {
                display: flex;

                .text-content {
                    font-size: 22px;
                    margin-left: 10px;
                    margin-top: 2px;
                }
            }
        }

        .text-amount {
            margin-left: 30%;
            margin-top: 20px;
            font-size: 20px;
        }

        .btn-content {
            margin-top: 20px;
            margin-left: 20%;

            .btn-edit {
                border-radius: 7px;
                width: 100px;
                height: 40px;
                border: none;
                margin-left: 50px;
            }

            .btn-cancel {
                border: none;
                border-radius: 7px;
                width: 100px;
                height: 40px;
                background-color: red;
                color: white;
            }
        }
    }
}