@import "../../../styles/common.scss";

.container-change-password-card {
  width: calc(80% + 24px);
  margin: 50px 30% 50px 10%;

  .title-content {
    text-align: center;
    margin-bottom: 20px;
    color: $colormain;
  }

  .form-input-content {
    margin-left: 20%;
    .img-content {
      .img-fluid {
        margin: 2px;
      }
    }

    .form-content {
      border-radius: 7px;
      margin-top: 15px;
      margin-left: 100px;
      text-align: left;

      label {
        font-size: $base-size;
      }

      .form-control {
        width: 50%;
      }
    }

    .btn-content {
      margin-top: 20px;

      .btn-edit {
        border-radius: 7px;
        width: 100px;
        height: 40px;
        border: none;
        margin-left: 50px;
      }

      .btn-cancel {
        border: none;
        border-radius: 7px;
        width: 100px;
        height: 40px;
        background-color: red;
        color: white;
      }
    }
  }
}
