@import "../../styles/common.scss";

.register-background {
  height: 100vh;

  img {
    height: 100vh;
  }

  .register-container {
    width: 400px;
    border-radius: 10px;
    background: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 620px;

    .register-content {
      padding: 10px;

      .text-login {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: $colormain;
      }

      .register-input {
        margin: 7px 0;

        label {
          font-size: $base-size;
        }

        input {
          font-size: $base-size;
        }

        .custom-input-password {
          position: relative;

          i {
            position: absolute;
            right: 15px;
            top: 10px;
            cursor: pointer;
          }
        }
      }
      .confirm-password {
        font-size: 20px;

        .success-confirm {
          color: #198754;
        }

        .fail-confirm {
          color: #dc3545;
        }
      }
    }

    .btn-register-group {
      font-size: $base-size;
      margin-left: 5px;
      .btn-register {
        width: 30%;
        margin: 10px 0;
        height: 35px;
        border-radius: 10px;
        outline: none;
        border: none;
        color: white;
        background: $colormain;
      }

      .btn-cancel {
        width: 30%;
        margin: 0 0 0 152px;
        height: 35px;
        border-radius: 10px;
        outline: none;
        border: none;
        color: white;
        background: red;
      }
    }
  }
}
