@import "../../styles/common.scss";

.account-content {
  margin-top: 5px;
  .btn-group {
    .btn-account {
      width: 60px;
      height: 60px;
      background-color: $colormain;
      color: white;
      font-size: 30px;
    }

    .dropdown-menu {
      font-size: 18px;
      color: black;

      i {
        font-size: 20px;
      }
    }
  }
}
