@import "../../styles/common.scss";

.account-content {
  margin-top: 5px;
  .btn-group {
    .btn-account {
      width: 200px;
      height: 70px;
      font-size: 20px;
      color: $colormain;
      border: none;

      i {
        font-size: 20px;
      }
    }

    .dropdown-menu {
      font-size: 18px;
      color: black;

      i {
        font-size: 20px;
      }
    }
  }
}
